.title {
  font-size: var(--title-font-size);
  color: var(--title-color);
  font-weight: 600;
  text-align: center;
  line-height: var(--line-height-title);
  max-width: 60.625rem;
  margin: 0 auto;
  z-index: 1;
}
